<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : hibernate.cfg.xml
    Created on : 28 de mayo de 2008, 08:23 AM
    Author     : ismael
    Description:
        Purpose of the document follows.
-->

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--
    jdbc:postgresql://host:port/database
    -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5433/school</property>
    <property name="connection.username" >schooluser</property>
    <property name="connection.password" >schoolpassword</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">false</property>
    <!--
    <mapping class="mx.com.j44p.school.modelo.Opcion"/>
    -->
    <mapping class="mx.com.j44p.school.modelo.Usuario"/>
    <mapping class="mx.com.j44p.school.modelo.Alumno"/>
    <mapping class="mx.com.j44p.school.modelo.Pregunta"/>
    <mapping class="mx.com.j44p.school.modelo.Seccion"/>
    <mapping class="mx.com.j44p.school.modelo.Examen"/>
    <mapping class="mx.com.j44p.school.modelo.EvaluacionPregunta"/>
    <mapping class="mx.com.j44p.school.modelo.EvaluacionSeccion"/>
    <mapping class="mx.com.j44p.school.modelo.EvaluacionExamen"/>
  </session-factory>
</hibernate-configuration>